# Required
OPENAI_API_KEY='*****'
OPENAI_MODEL=gpt-5-nano
MCP_KIWI_URL=https://mcp.kiwi.com

# Optional for evaluation and tracing
# LANGSMITH_API_KEY='*****'
# Uncomment to set tracing to true when you set up your LangSmith account
# LANGSMITH_TRACING=true
# LANGSMITH_PROJECT=trip-planner-agents

LOGGING_LEVEL=WARNING
TRAVEL_AGENT_TIMEOUT=120.0
HOTEL_AGENT_TIMEOUT=90.0
SUPERVISOR_TIMEOUT=300.0